<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel='stylesheet' href='{{ url_for('static', filename='css/bookings.css') }}' />
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>

<body onLoad="default_expiry_date()">
<div class="testbox">
  <div style="font-family: 'Acme'; font-size: 24px; text-align: center;">Add Case - MHA COVID-19 Vaccination</div>

  <form name="addCaseForm" action="/admin/add_case" id="addCaseForm" method="POST">
      <hr>
		{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
	<a href="/admin/add_case" class="button">New</a>
      {% else %}
  <label id="icon" for="name"><i class="icon-qrcode"></i></label>
  <select name="rtype" id="rtype">
    <option value="PSPL">PSPL</option>
    <option value="SCDF">SCDF</option>
  </select>
  <label id="icon" for="ref"><i class="icon-user"></i></label>
  <input type="text" name="ref" id="ref" placeholder="e.g. 12345A" required/>
	<label id="icon" for="expiry"><i class="icon-calendar"></i></label>
	<input type="text" name="expiry" id="expiry" placeholder="YYYY-MM-DD" required/>
	<a href="#" class="button" onclick="document.getElementById('addCaseForm').submit();">Activate</a>
			{% endif %}
    {% endwith %}
  </form>
</div>
</body></html>

