<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel='stylesheet' href='{{ url_for('static', filename='css/bookings.css') }}' />
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>

<body>
<div class="testbox">
  <div style="font-family: 'Acme'; font-size: 24px; text-align: center;"><br/>IPPT Med Screening</div>
      <hr>
			<br/>
			You have made a booking for <b>{{message.location}}</b> on <b>{{message.date_time}}</b>. Do you wish to
			amend?
			{% if buttons %}
				{% autoescape false %}
   			{% for button in buttons %}
					<a class="button" href="{{url_for('init', ref=button.ref, rtype=button.rtype, isnew=button.isnew) }}">{{button.label}}</a>
    		{% endfor %}
				{% endautoescape %}
			{% endif %}
</div>

</body></html>
