<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel='stylesheet' href='{{ url_for('static', filename='css/bookings.css') }}' />
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>

<body>
<div class="testbox">
  <div style="font-family: 'Acme'; font-size: 24px; text-align: center;"><br/>HT Flu Vaccination</div>
  <form action="/init" id="retrieveCaseForm">
      <hr>
		{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  <label id="icon" for="name"><i class="icon-tag"></i></label>
  <input type="text" name="ref" id="ref" placeholder="Reference" required/>
  <label id="icon" for="name"><i class="icon-qrcode"></i></label>
  <input type="text" name="rtype" id="rtype" placeholder="RType" required/>
	<a href="#" class="button" onclick="document.getElementById('retrieveCaseForm').submit();">Retrieve</a>
  </form>
</div>

</body></html>
